body{
     cursor: url(https://s.nmxc.ltd/sakurairo_vision/@2.5/cursor/normal.cur), auto;
}
 .headertop-down i, .faa-parent.animated-hover:hover>.faa-spin, .faa-spin.animated, .faa-spin.animated-hover:hover, i.iconfont.js-toggle-search.iconsearch, #waifu #live2d, .aplayer svg, .aplayer.aplayer-narrow .aplayer-body, .aplayer.aplayer-narrow .aplayer-pic, #emotion-toggle, .emoji-item, .emotion-box, .emotion-item, .on-hover, .tieba-container span, #moblieGoTop, #changskin{
     cursor: url(https://s.nmxc.ltd/sakurairo_vision/@2.5/cursor/No_Disponible.cur), auto;
}
 a, .ins-section .ins-section-header, .font-family-controls button, .menu-list li,.ins-section .ins-search-item, .ins-section .ins-search-item .ins-search-preview{
     cursor: url(https://s.nmxc.ltd/sakurairo_vision/@2.5/cursor/ayuda.cur), auto;
}
 p, .highlight-wrap code, .highlight-wrap, .hljs-ln-code .hljs-ln-line{
     cursor: url(https://s.nmxc.ltd/sakurairo_vision/@2.5/cursor/texto.cur), auto;
}
 a:active{
     cursor: url(https://s.nmxc.ltd/sakurairo_vision/@2.5/cursor/work.cur), alias;
}
 